<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>QuineesSomos  - Learnig4all</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="/css/style.css" rel="stylesheet">


</head>

<body>

<!-- ======= Header ======= -->
   <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="index.html" class="logo me-auto"><img src="/img/logo4.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="courses.html">Courses</a></li>
          <li><a class="active" href="about.html">¿Quienes somos?</a></li>

          <li><a href="usuarios.html">Registrarse</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="courses.html" class="get-started-btn">Iniciar sesion</a>

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Aprende sobre sosotros!</h2>
        <p>En Learnig4All, somos una plataforma de educación en línea comprometida en brindar a 
          las personas las habilidades y conocimientos necesarios para destacarse en el campo de 
          la tecnología. Nuestro objetivo principal es fomentar el aprendizaje continuo y 
          accesible, permitiendo a nuestros estudiantes adquirir las competencias necesarias para 
          prosperar en el ámbito de desarrollo.

           </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/img/about.jpg" class="img-fluid" alt="">
            <p> </p>
            <h3>Objetivos</h3>
            <p class="fst-italic">
              Desarrollar una plataforma web para el aprendizaje enfocado en el desarrollo de software. 
            </p>
            <ul>
              <p><i class="bi bi-check-circle"></i> Establecer la conexión entre la pagina web y la base de datos.</p>
              <p><i class="bi bi-check-circle"></i> Elaborar una pagina web que permita el registro de usuarios.</p>
              <p><i class="bi bi-check-circle"></i> Crear interfases de usuario para las necesidades de la pagina.</p>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Sobre Nosostros.</h3>
            <p class="fst-italic">
              Nos enorgullece contar con un equipo de instructores altamente calificados y 
              experimentados en la industria tecnológica. Nuestros instructores no solo 
              poseen un amplio conocimiento en las últimas tecnologías y herramientas 
              FullStack, sino que también están comprometidos en brindar una experiencia 
              de aprendizaje enriquecedora y efectiva.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> En Learnig4All, creemos en el enfoque práctico y orientado a proyectos. Nuestros cursos se basan en prácticas reales y proyectos desafiantes que permiten a los estudiantes aplicar lo aprendido y desarrollar habilidades prácticas. Fomentamos la creatividad y la resolución de problemas, brindando a nuestros estudiantes la confianza y las capacidades necesarias para enfrentar desafíos del mundo real..</li>
              <li><i class="bi bi-check-circle"></i> Además, valoramos la interacción y la colaboración entre nuestros estudiantes. Promovemos un entorno de aprendizaje inclusivo y colaborativo donde los estudiantes pueden compartir ideas, participar en discusiones y establecer conexiones duraderas. Creemos que aprender en comunidad no solo enriquece el proceso de aprendizaje, sino que también abre puertas a oportunidades globales y diversas.

              </li>
              <li><i class="bi bi-check-circle"></i> En resumen, en Learnig4All nos apasiona brindar educación en tecnología de alta calidad y transformar vidas a través del aprendizaje. Estamos comprometidos en impulsar el crecimiento personal y profesional de nuestros estudiantes, equipándolos con las habilidades necesarias para tener éxito en el campo FullStack y abrirse camino en la industria tecnológica en constante evolución..</li>
            </ul>
            <p>
              
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <section id="integrantes" class="integrantes">
      <div>
        <div>
          <img src="/img/integrantes.png" alt="">
        </div>
      </div>
    </section>
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nuestro proyecto</h2>
          <p>Aprende del desarrollo de Learning<span style="color: #e63946;">4</span>ALL</p>
        </div>
        <div>
          <!--
          <iframe width="100%" 
          height="1000px" 
          src="https://academiausbbogedu.sharepoint.com/:u:/r/sites/LEARNING4ALL19/SitePages/Home.aspx?csf=1&web=1&share=Ec1XEUpmn3BJmADw4uXuFFMBCMYd2E2procpwlJoeQl-xg&e=rYnZfw" 
          title="Share pont view" 
          frameborder="0"
          scrolling="no" 
          seamless="seamless"  
          overflow:hidden;
          allowfullscreen></iframe>
          -->
        </div>

        <div><br></div>

        <section id="profesor-tabs" class="profesor-tabs bg-primary" style="--bs-bg-opacity: .4;">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 style="color: #0b245a; font-size: 36px; font-weight: bold; margin-bottom: 5rem;">WORK <span style="color: #e63946;">4</span>US</h2>
              </div>
            </div>
           <div>
            <form action="/Contactar-profe" method="post">
    
              <div class="row">
                <div class="form-group col-sm">
                  <label for="nombre" style="color: black;">Nombre:</label>
                  <input type="text" name="nombre" class="form-control" required>
                </div>
                <div class="form-group col-sm">
                  <label for="apellido" style="color: black;">Primer apellido:</label>
                  <input type="text" name="apellido1" class="form-control" >
                </div>
                <div class="form-group col-sm">
                  <label for="apellido" style="color: black;">Segundo apellido:</label>
                  <input type="text" name="apellido2" class="form-control" >
                </div>
              </div>
              <div class="row" style="padding-top: 7px;">
                <div class="form-group col-sm">
                  <label for="region" style="color: black;">Teléfono</label>
                  <input type="text" name="telefono" class="form-control">
                </div>
                <div class="form-group col-sm">
                  <label for="region" style="color: black;">E-mail</label>
                  <input type="text" name="email" class="form-control" >
                </div>
                <div class="form-group col-sm">
                  <label for="region" style="color: black;">Pais</label>
                  <input type="text" name="pais" class="form-control" >
                </div>
              </div>
              <div class="form-group" style="padding-top: 7px;">
                <label for="region" style="color: black;">Cuentanos por que quieres trabajar con nosotros</label>
                <input type="text" name="horas disponibles" class="form-control" >
              </div>
              <div>
                <br>
                <p><input type="checkbox" required> Acepta nuestros <a href="#">terminos y condiciones</a> de tratamiento de datos</p>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
    
            </form>
    
           </div> 
          </div>
        </section><!-- End Cource Details Tabs Section -->

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Learning4All</h3>
            <p>
              Eduacation<br>
              Avaitable<br>
              every one<br><br>
              <strong>inquietudes:</strong> <br>
              <strong>Email:</strong> info@Learnig4allcom<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about.html">¿Quienes somos?</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/courses.html">Cursos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/sesion.html">Iniciar sesion</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Sobre Learnig4all</h4>
            
            <p>Podrás construir en equipos de proyectos del mundo real con metodologías y herramientas ágiles Scrum</p>
 
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Estudia en Learning4All</h4>
            <p>carrera desarrollo Full Stack</p>
            <p>opiniones</p>
            <p>preguntas frecuentes</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Learning4All</span></strong>. Learning@2022 Todos los derechos reservados
        </div>
        <div class="credits">

          hecho con amor para el mundo
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>